/*No Distractions Full Screen v4.0*/
/*:root {
  --bkgndColor: #474747;
  --animTime: 0.5s;
}*/

body, #outer{
  background: transparent !important;
  border-top-color: transparent !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

table#innertable{
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 2.5em;
  width: 100%;
  //border: 1px solid skyblue;
  pointer-events: none;
}

.ans, .ques {
  height: 2.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  //border: 1px solid blue;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  user-select: none;
}

.ans {
  flex-basis: 10em;
}

.ques {
  flex-basis: auto;
}

.platform {
  max-height: 70%;
  min-height: 70%;
  width: 100%;
  //border: 1px solid orange;
  border-radius: 5px 5px 0px 0px;
  opacity: 1;
  overflow:hidden;
  text-align: center;
  pointer-events: auto;
  cursor: pointer;
  transition: 0.3s;
}

.platform:hover {
  box-shadow: inset 0px 40px 112px -8px rgba(255,255,255,0.32);;
}

.nobold, .platform {
  font-size: 1.2em;
  font-weight: 700;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0em;
}

#defease{
  font-size: 1.2em;
  background-color: initial;
  border: 2px solid #42ffec;
  border-bottom: none;
}

.nobold {
  padding-top: 0;
}

#Again .platform {
  background-color: #d60202 !important;
  color: #330000 !important;
  text-shadow: 0px 2px 3px #de8181 !important;
}

#Hard .platform {
  background-color: #ffa900 !important;
  color: #332200 !important;
  text-shadow: 0px 2px 3px #debf81 !important;
}

#Good .platform {
  background-color: #00d407 !important;
  color: #013300 !important;
  text-shadow: 0px 2px 3px #81dea2 !important;
}

#Easy .platform {
  background-color: #0049f2 !important;
  color: #000033 !important;
  text-shadow: 0px 2px 3px #818fde !important;
}

.ques .platform {
  background-color: var(--bkgndColor) !important;
  //text-shadow: 0px 2px 3px #555 !important;
}

@keyframes ansConf {
  0% {
    min-height: 50%;
  }

  70% {
    min-height: 90%;
    opacity: 1;
  }

  100% {
    min-height: 50%;
    opacity: 0;
  }
}

.ansConf {
  animation-name: ansConf;
  animation-duration: var(--animTime);
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: var(--animTime);
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}